<div class="visitor-form-container">
    <h2>Visitor Form</h2>
    <form #visitorForm="ngForm" (ngSubmit)="onSubmit(visitorForm)" class="visitor-form">
        <div *ngIf="currentPage === 1">
            <div class="form-group">
                <label for="name">Name:{{name}}</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" required class="form-control">
            </div>
            <div class="form-group">
                <label for="licNo">LIC No:{{licno}}</label>
                <input type="text" id="licNo" name="licNo" [ngModel]="licno" class="form-control">
            </div>

            <div class="form-group">
                <label for="mobile">Mobile:{{mobile}}</label>
                <input type="text" id="mobile" name="mobile" [ngModel]="mobile" required class="form-control">
            </div>

            <div class="form-group">
                <label for="meetTo">Meet To:{{meetTo}}</label>
                <input type="text" id="meetTo" name="meetTo" [ngModel]="meetTo" required class="form-control">
            </div>

            <div class="form-group">
                <label for="department">Department:{{department}}</label>
                <select id="department" name="department" [ngModel]="department" required class="form-control">
                    <option value="" disabled selected>Select department</option>
                    <option value="HR">HR</option>
                    <option value="Finance">Finance</option>
                    <option value="IT">IT</option>
                </select>
            </div>

            <div class="form-group">
                <label for=" purposeRemark ">Purpose Remark:{{purposeremark}}</label>
                <textarea id="purposeRemark " name="purposeRemark " [ngModel]="purposeremark" class="form-control "></textarea>
            </div>

            <div class="form-group ">
                <label for="purposeGroup ">Purpose Group: {{ purposegroup }}</label>
                <select id="purposeGroup " name="purposeGroup " [ngModel]="purposegroup" class="form-control ">
                    <option value="Option 1 ">Option 1</option>
                    <option value="Option 2 ">Option 2</option>
                </select>
            </div>
        </div>


        <div *ngIf="currentPage===2 ">


            <div class="form-group ">
                <label for="timeIn ">Time In:{{timein}}</label>
                <input type="datetime-local " id="timeIn " name="timeIn " [(ngModel)]="timein" required class="form-control ">
            </div>

            <div class="form-group ">
                <label for="timeOut">Time Out:{{timeout}}</label>
                <!--<label for="timeOut">{{vservice.timeOut}}</label>-->
                <input type=" datetime-local " id="timeOut " name="timeOut " [ngModel]="timeout" class="form-control ">
            </div>

            <div class="form-group ">
                <label for="otherRemark " class="other-remark-group ">Other Remark:{{otherremark}}</label>
                <textarea id="otherRemark " name="otherRemark " [ngModel]="otherremark" class="form-control "></textarea>
            </div>

            <div class="form-group ">
                <label for="visaCard ">Visit Card:{{visitcard}}</label>
                <input type="text " id="visaCard " name="visaCard " [ngModel]="visitcard " class="form-control ">
            </div>

            <div class="form-group ">
                <label for="photo ">Photo:{{photo}}</label>
                <div>
                    <webcam [width]="150 " [height]="100 " [trigger]="triggerObservable " (imageCapture)="handleImageCapture($event) "></webcam>
                </div>
                <button type="button " class="btn btn-primary " (click)="capturePhoto() ">Capture Photo</button>
                <img *ngIf="photo " [src]="photo " alt="Captured Photo " class="captured-photo ">
            </div>
            <div class="submit-button-container ">
                <button type="submit " (click)="onSubmit" class="btn btn-primary ">Submit</button>
            </div>
            <div>
                <label for="name">Name:{{name}}</label>

            </div>



        </div>
        <div class="pagination ">
            <div class="pagination ">
                <button type="button " class="btn btn-success " (click)="previousPage() " [disabled]="currentPage===1 ">{{ currentPage === 1 ? ' 1 ' : 'Previous ' }}</button>
                <button type="button " class="btn btn-primary " (click)="nextPage() " [disabled]="currentPage===totalPages ">{{ currentPage === totalPages ? '2 ' : 'NEXT ' }}</button>
                <button type="button " class="btn btn-secondary " (click)="printForm() ">Print</button>
            </div>

        </div>
        <div class="submit-button ">
            <button type="submit-button " [disabled]="!visitorForm.valid " class="btn btn-primary ">Submit</button>
        </div>

    </form>
</div>